<a href="/competition"><button>Back to all competition</button></a>
<h1>{{foundCompetition.name}}</h1>
{{#if isOwner}}
  <a href="/competition/{{foundCompetition._id}}/edit"><button>Edit</button></a>
  <form
    action="/competition/{{foundCompetition._id}}/delete"
    method="post"
  ><button>Delete</button></form>
{{/if}}
<form action="/competition/{{foundCompetition._id}}/sync" method="post">
  <button>Sync</button>
</form>
<h3>{{foundCompetition.competitionDescription}}</h3>
<h3>Portfolios</h3>

<table>
  <tr>
    <th>#</th>
    <th>Username</th>
    <th>Percentage Return</th>
  </tr>
{{#each portfolio}}
  <tr>
    <td>{{inc @index}}</td>
    <td>{{createdBy.username}}</td>
    <td>{{percentageReturn}}</td>
  </tr>
{{/each}}
</table>