<div class="d-flex flex-row justify-content-between">
  <div class="d-flex align-items-center align-self-center flex-row">
    <a href="/competition/{{foundCompetition._id}}">
      <span class="material-icons md-48">arrow_back_ios</span>
    </a>
    <h1 class="ms-2">Edit competition</h1>
  </div>
</div>

<form
  class="mt-4"
  style="width: 50%"
  action="/competition/{{foundCompetition._id}}/edit"
  method="post"
>
  <label class="form-label mb-1" for="">Competition name</label>
  <input
    class="form-control mb-3"
    type="text"
    name="name"
    value="{{foundCompetition.name}}"
  />
  <label class="form-label mb-1" for="">Desdcription</label>
  <textarea
    class="form-control mb-3"
    type="text"
    name="description"
    cols="10"
    rows="10"
  >{{foundCompetition.competitionDescription}}
  </textarea>
  <label class="form-label mb-1" for="">Joined users</label>
  {{#each newUserArray}}
    <div class="form-check mb-1">
      {{#if isSelected}}
        <input
          type="checkbox"
          id="scales"
          class="form-check-input"
          name="userGroup"
          value="{{_id}}"
          checked
        />
      {{else}}
        <input
          type="checkbox"
          id="scales"
          class="form-check-input"
          name="userGroup"
          value="{{_id}}"
          unchecked
        />
      {{/if}}
      <label class="form-check-label" for="scales">{{username}}</label>
    </div>
  {{/each}}
  <button class="btn btn-primary mt-3" type="submit">Save</button>
</form>