<h1>Welcome! {{user.username}}</h1>

{{!-- to do: create portfolio overview --}}
<div id='portfolio-overview'>
    <h2>Portfolio overview</h2> 
    <h3>Total result: {{#each performances}} {{#if @last}} {{this.totalReturn}} {{/if}} {{/each}} </h3>
</div>

<div id='portfolio-results'>
    <h2>Overview of observations</h2>
    <a href= 'portfolio/add-result'>
        <button>Add new results</button>
    </a>
    {{#each performances}}
        <ul>
            <li>Date: {{this.referenceDate}}</li>
            <li>Total Account: {{this.totalAccount}}</li>
            <li>Total Portfolio: {{this.totalPortfolio}}</li>
            <li>Total Result: {{this.totalResult}}</li>
            <li>Total Return: {{this.totalReturn}}</li>
            <li>Percentage Return: {{this.percentageReturn}}</li>
            <a href = "portfolio/{{this._id}}/edit">
                <button>Edit</button>
            </a>
            <form action="portfolio/{{this._id}}/delete" method= "post">
                <button>Delete</button>
            </form>
        </ul>
    <br>
    {{/each}}
</div>

